html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    color: #333;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.6);
}


nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}

.navi {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.navi li {
    margin-left: 50px;
    font-size: 2rem;
}

.main_visual {
    height: 100vh;
}

.main_img  {
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 660px;
    width:100%;
    position: relative;
}

.main_text {
    position: absolute;
    top: 60%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12rem;
    font-family: 'Kalam', cursive;
    -webkit-animation: fadeIn 5s ease 0s 1 normal;
    animation: fadeIn 5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

.main_visual {
    margin-bottom: 150px;
}

section {
    width: 1030px;
    margin: 0 auto 100px;
}

.contents_title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 100px;
}

.about_wrapper {
    display: flex;
} 

.about_img {
    width: 50%;
    text-align: center;
}

.about_img img{
    border-radius: 50%;
    width: 400px;
}    

.about_text {
    width: 50%;
    height: 10rem;
    text-align: center;
    margin: auto;
}

.about_text h2 {
    font-size: 2rem;
}

.about_text p {
    font-size: 1.5rem;
    line-height: 30px;
}


.skills {
    width: 1030px;
}

.skills_container {
    border: 3px solid #ebe8e8;
    border-radius: 3px;
    height: auto;
    padding: 50px;
}

.skills_card {
    display: flex;
    flex-wrap: wrap;
}

.skills_card .skill {
    width: calc(100% / 4);
    text-align: center;
}

.skill {
    margin-bottom: 30px;
}

.skill img{
    width: 120px;
}

.skill p {
    font-size: 1.5rem;
    font-weight: bold;
}

.works_container {
    width: 100%;
}

.works_container ul {
    padding: 0;
}

.works_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works_item {
    width: calc((100% / 2) - 15px);
    margin-bottom: 60px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0px 3px 6px 0px #9E9E9E;
}


.works_item img {
    width: 100%;
}

.works_wrapper {
    padding: 15px;
}

.works_title {
    font-size: 2rem;
}

.works_wrapper p {
    display: inline-block;
    color: #FFF;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 45%;
    margin-right: 10px;
}

.html_css {
    background-color: rgb(255, 139, 189);
}

.jQuery {
    background-color: rgb(255, 142, 94);
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.modalBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(30,30,30,0.7);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  height: 85%;
  max-width: 1000px;
  background-color: #fff;
  overflow : auto;
}

.modalContents {
    padding: 20px;
}

.modalContents img {
    margin-top: 30px;
    width: 100%;
}

.modalContents h2 {
    font-size: 3rem;
    padding-left: 30px;
}

.closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 3rem;
}

tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

td {
    border-bottom: 1px solid #ebe8e8;
    width: 50%;
    font-size: 2rem;
    text-align: left;
}

td:first-child {
    width: 30%;
}

td:last-child {
    width: 70%;
}

tr > td, tr > td + td{
    padding: 30px;
}

td ul li{
    list-style: disc;
    list-style-position: inside;
}

.modal_list:hover {
    background-color: #ebe8e8;
    cursor: pointer;
}

footer {
    background: #FFF;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
}


@media screen and (max-width: 768px) {

    /*ハンバーガーボタン*/
    #header #navi {
        transition: all .6s;
        overflow-y: auto;
        padding-top: 150px;
        width: 300px;
        height: 100vh;
        z-index: 200;
        top: 0;
        right: -320px;
        background-color: #fff;
        position: fixed;
    }
    
    #header .nav_btn {
        width: 44px;
        height: 44px;
        z-index: 300;
        top: 7px;
        right: 7px;
        cursor: pointer;
        position: absolute;
    }
    
    .hamburger_line {
        transition: all .6s;
        width: 34px;
        height: 2px;
        left: 5px;
        background-color: #000;
        position: absolute;
    }
    
    .hamburger_line1 { top: 10px; }
    .hamburger_line2 { top: 21px; }
    .hamburger_line3 { top: 32px; }
    
    .nav_bg {
        opacity: 0;
        transition: all .6s;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        top: 0;
        left: 0;
        visibility: hidden;
        background-color: #000;
        cursor: pointer;
        position: fixed;
    }
    
    /* 表示された時用のCSS */
    .nav_open #header #navi { right: 0; }
    
    .nav_open .nav_bg {
        opacity: .8;
        visibility: visible;
    }
    
    .nav_open .hamburger_line1 {
        transform: rotate(45deg);
        top: 20px;
    }
    
    .nav_open .hamburger_line2 {
        width: 0;
        left: 50%;
    }
    
    .nav_open .hamburger_line3 {
        transform: rotate(-45deg);
        top: 20px;
    }

    .navi {
       display: list-item;  /* 縦に並べる */
       list-style-type: none;
       text-transform: uppercase;
       padding: 50px 10px; 
    }

    .navi li {
        width: 100%;
        text-align: center;
        height: 80px;
    }


    .main_img  {
        background-image: url(../img/main_sp.jpg);
        height: 80vh;
        min-height: 400px;
        position: relative;
    }

    .main_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 5.5rem;
    }

    .main_text p {
        white-space: nowrap;
    }

    section {
        width: 100%;
        margin: 0 auto;
    }

    .about_wrapper {
        display:block;
        height: 650px;
    } 

    .about {
        text-align: center;
        margin-bottom: 30px;
    }

    .about_img {
        margin: 0 auto;
        width: 300px;
    }

    .about_img img{
        width: 100%;
    }

    .skills {
        width: 100%;
        margin-bottom: 50px;
    }

    .skills_container {
        padding: 15px;
    }

    .skills_card .skill {
        width: calc(100% / 2);
        text-align: center;
    }

    .works_card {
        display: block;
        margin:auto 30px;
    }

    .works_item {
        width: 100%;
    }

    .modalWrapper {
        max-width: 700px;
        height: 80%;
    }

    .modalContents h2 {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    table th,
    table td{
      display: block;
    }

    
    tr > td, tr > td + td{
        padding: 10px;
    }

    td {
        width: 100%;
        font-size: 1.2rem;
        border: none;
    }

    td:first-child {
        width: 100%;
    }

    td:last-child {
        width: 100%;
    }

    tr > td, tr > td + td{
        padding: 10px;
    }

    .modal_list {
        border-bottom: 1px solid #ebe8e8;
    }
}

 
 
 