/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgb(000,000,000,.5);
}
.header__bg {
    position: relative;
    z-index: 2;
    padding: 30px;
}
.header__logo a {
    font-family: cursive;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}
.header__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__cat input,
.header__cat label {
    display: none;
}
.header__navi__list {
    display: flex;
}
.header__navi__item span {
    position: relative;
}
.header__navi__item span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    opacity: 0;
    transition: all .8s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header__navi__item:hover span:after {
    opacity: 1;
    left: 0;
    width: 100%;
}
.header__navi a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: #fff;
}

.mainKv {
    position: relative;
    background-image: url(../../assets/images/kv.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 660px;
}
.mainKv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainKv__title {
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 10px 10px 5px #000;
}

.concept {
    margin-bottom: 120px;
}

.concept-inner {
    max-width: 1080px;
    padding: 120px 0 0;
    margin:auto;
}

.concept-title {
    position: relative;
    font-family: fantasy;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.concept-title::after {
    content: '';
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 2px;
    border-bottom: 2px solid;
}

.concept-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cocept-img {
    width: calc(50% - 40px);
}

.cocept-img>img {
    width: 100%;
}

.concept-text {
    width: calc(50% - 40px);
    height: 630px;
    overflow-y: auto;
}

.text-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 24px;
}

.text-title::before {
    display: inline-block;
    content: '';
    vertical-align: 5px;
    width: 32px;
    height: 2px;
    background-color: #000;
    margin-right: 5px;
}

.text-title::after {
    display: inline-block;
    content: '';
    vertical-align: 5px;
    width: 32px;
    height: 2px;
    background-color: #000;
    margin-left: 5px;
}

.application {
    margin-bottom: 240px;
}

.application-inner {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.application-img {
    width: 60%;
}

.application-img-bg {
    background-image: url(../../assets/images/main_02.jpg);
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    overflow-x: hidden;
    position: relative;
}

.application-area {
    width: 40%;
}

.application-text {
    position: relative;
    padding-left: 60px;
}

.application-text::before {
    content: '';
    position: absolute;
    bottom: -100px;
    right: 0;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
    background-color: #f4f4f4;
    z-index: -1;
}

.application-sentence p {
    line-height: 2;
}

.application-text .text-title {
    text-align: left;
}

.gallery {
    margin-bottom: 120px;
}

.gallery-text {
    background-image: url(../../assets/images/main_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
}

.gallery-mask {
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, .6);
}

.gallery-container {
    width: 70%;
    margin: auto;
    padding: 70px 0;
}

.gallery-sentence {
    line-height: 2;
    font-weight: bold;
    word-break: break-all;
}

.card {
    max-width: 1280px;
    padding: 0;
    margin: auto;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-list {
    width: calc((100% / 3) - 16px);
    padding-right: 16px;
    margin-bottom: 60px;
}

.card-list:nth-child(3n) {
    padding-right: 0;
}

.card-list:nth-child(n+4) {
    margin-bottom: 0;
}

.card-img img {
    width: 100%;
    height: 600px;
    padding: 4px;
    object-fit: cover;
    display: block;
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.card-img {
    border: 2px solid;
    margin-bottom: 16px;
}

.contact {
    margin-bottom: 120px;
}

.contact-item {
    margin-bottom: 40px;
}

.contct-label::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.contact-item input {
    height: 50px;
    display: block;
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: #555;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.contact-item textarea {
    height: auto;
    width: 100%;
    border: 1px solid #eeeeee;
    display: block;
    padding: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: #555;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.contact-btn {
    cursor: pointer;
    display: block;
    background: #fff;
    color: #555;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin: 108px auto 0;
    font-weight: bold;
    width: 300px;
    height: 60px;
    font-size: 18px;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

.contact-btn:hover {
    color: #fff;
    background: #555;
}

.footer p {
    text-align: center;
    font-size: .8rem;
    padding: 16px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
    /* ヘッダー */
    .header__bg {
        padding: 10px;
    }
    .header__logo a {
        font-size: 1.2rem;
    }
    /* ヘッダーハンバーガーメニュー */
    .header__cat input,
    .header__cat label {
        display: block;
    }
    .header__cat input {
        display: none;
    }
    .header__cat label {
        position: absolute;
        right: 10px;
        clear: both;
    }
    span.hamburger__icon {
        display: inline-block;
        width: 35px;
        height: 25px;
    }
    span.hamburger__icon i {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
        transition: all .3s ease-in-out;
    }
    span.hamburger__icon i:nth-child(1) {
        top: 0;
    }
    span.hamburger__icon i:nth-child(2) {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    span.hamburger__icon i:nth-child(3) {
        bottom: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(1) {
        margin: auto;
        transform: rotate(45deg);
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(2) {
        transform: rotateX(90deg);
        top: 0;
        bottom: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(3) {
        margin: auto;
        transform: rotate(-45deg);
        top: 0;
        right: 0;
        bottom: 0;
    }
    .header__cat input:checked ~ .header__navi {
        z-index: 99;
        opacity: 1;
        transform: translateX(0);
    }
    .header__navi {
        position: fixed;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50px;
        right: 0;
        transform: translateX(100%);
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 1s ease-out;
    }
    .header__navi__wrap {
        width: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0;
        transition-duration: 1s;
        transition-property: right;
        overflow-y: scroll;
    }
    .header__cat input:checked ~ .header__navi .header__navi__wrap {
        right: 0;
    }
    .header__navi__list {
        margin: 0;
        display: block;
        justify-content: inherit;
    }
    .header__navi__item {
        border-bottom: 1px solid #000;
    }
    .header__navi__item a {
        padding: 0 50px;
        color: #000;
        font-size: 24px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 700;
        line-height: 1;
        transition: background-color .3s ease-in-out;
    }

    .mainKv__wrap {
        height: 100vh;
        background-position: center right -200px;
    }
    .mainKv__title {
        width: 100%;
        text-align: center;
    }
    .mainKv__title h1 {
        font-size: 2.6rem;
    }

    /* コンセプト */
    .concept {
        margin-bottom: 60px;
    }

    .concept-inner {
        padding: 60px 24px 0;
    }

    .concept-container {
        display: block;
    }

    .cocept-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .concept-text {
        width: 100%;
        height: 400px;
    }

    .application {
        margin-bottom: 60px;
    }

    .application-inner {
        display: block;
    }

    .application-img {
        width: 100%;
    }

    .application-img-bg {
        height: 500px;
    }

    .application-area {
        width: 100%;
    }

    .application-text {
        padding: 30px 24px;
        background-color: #f4f4f4;
    }

    .application-text::before {
        display: none;
    }

    .application-text .text-title {
        text-align: center;
    }

    .gallery {
        margin-bottom: 60px;
        padding-top: 100px;
    }

    .gallery-container {
        width: auto;
        padding: 30px;
        height: calc(100% - 60px);
    }

    .card {
        margin: 60px;
    }

    .card-wrap {
        display: block;
        padding: 0 24px;
    } 

    .card-list {
        width: 100%;
        padding-right: 0;
    }

    .contact {
        margin-bottom: 60px;
    }

    .contact-inner {
        padding: 0 24px;
    }

    .contact-btn {
        margin: 60px auto;
    }

}